venv/*
Microservice/src/config.py
.scannerwork/*
coverage.xml
coverage_5.xml
coverage_4.xml
coverage_3.xml
coverage_2.xml
coverage_1.xml
users.db
sonar-project.properties
logs.log
logs.db
log_config.json
buffer.log
Microservice/main.coverage
Microservice/logger.coverage
Microservice/file.coverage
Microservice/db.coverage
Microservice/.coverage
